1. Identify the data type of the following values:


99.9

"False"

False

'0'

0

True

'True'

[{}]

{'a': []}

In [2]:
type(99.9)

float

In [4]:
type("False")

str

In [6]:
type(False)

bool

In [8]:
type('0')

str

In [10]:
type(0)

int

In [12]:
type(True)

bool

In [14]:
type('True')

str

In [16]:
type([{}])

list

In [17]:
type({'a': []})

dict

2. What data type would best represent the following?
A term or phrase typed into a search box?
Whether or not a user is logged in?
A discount amount to apply to a user's shopping cart?
Whether or not a coupon code is valid?
An email address typed into a registration form?
The price of a product
The email addresses collected from a registration form?
Information about applicants to Codeup's data science program

A term or phrase typed into a search box? - str

Whether or not a user is logged in? bool

In [76]:
A discount amount to apply to a user's shopping cart? -bool

Object `cart` not found.

In [77]:
Whether or not a coupon code is valid? -bool

Object `valid` not found.

In [80]:
An email address typed into a registration form? -str

Object `form` not found.

In [ ]:
The price of a product - int/float

In [79]:
The email addresses collected from a registration form? -list

Object `form` not found.

In [ ]:
Information about applicants to Codeup's data science program -str

3. For each of the following code blocks:
Read the expression and predict the evaluated results
Execute the expression in a Python REPL.
'1' + 2
6 % 4
type(6 % 4)
type(type(6 % 4))
'3 + 4 is ' + 3 + 4
0 < 0
'False' == False
True == 'True'
5 >= -5
True or "42"
6 % 5
5 < 4 and 1 == 1
'codeup' == 'codeup' and 'codeup' == 'Codeup'
4 >= 0 and 1 !== '1'
6 % 3 == 0
5 % 2 != 0
[1] + 2
[1] + [2]
[1] * 2
[1] * [2]
[] + [] == []
{} + {}

In [19]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [21]:
6 % 4

2

In [22]:
type(6 % 4)

int

In [23]:
type(type(6 % 4))

type

In [24]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [26]:
0 < 0

False

In [28]:
'False' == False

False

In [30]:
True == 'True'

False

In [32]:
5 >= -5

True

In [34]:
True or "42"

True

In [36]:
6 % 5

1

In [38]:
5 < 4 and 1 == 1

False

In [40]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [42]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [44]:
6 % 3 == 0

True

In [46]:
5 % 2 != 0

True

In [47]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [48]:
[1] + [2]

[1, 2]

In [50]:
[1] * 2

[1, 1]

In [51]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [53]:
[] + [] == []

True

In [85]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

Describe the following scenarios. You will need to create and assign variables and use operators.

4. You have rented some movies for your kids:
The Little Mermaid for 3 days Brother Bear for 5 days Hercules for 1 day If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [74]:
#The_Little_Mermaid = 3
#Brother_Bear = 3
#Hercules = 3
#print(3 * (The_Little_Mermaid) + 5 * (Brother_Bear) + 1 * (Hercules))

daily_rental_fee = 3
TLM_days = 3
BB_days = 5
H_days = 1
TLM_cost = (TLM_days * daily_rental_fee)
BB_cost = (BB_days * daily_rental_fee)
H_cost = (H_days * daily_rental_fee)
total = (TLM_cost + BB_cost + H_cost)
print(total)

27

5. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.
They pay you the following hourly rates:
Google: 400 dollars Amazon: 380 dollars Facebook: 350 dollars This week you worked: 10 hours for Facebook, 6 hours for Google, and 4 hours for Amazon.
How much will you receive in payment for this week?

In [69]:
google_hourly_rate = 400
facebook_hourly_rate = 350
amazon_hourly_rate = 380
g_hours_worked = 6
f_hours_worked = 10
a_hours_worked = 4
gpay = (google_hourly_rate * g_hours_worked)
fpay = (facebook_hourly_rate * f_hours_worked)
apay = (amazon_hourly_rate * a_hours_worked)
total_pay = gpay + fpay + apay
print(total_pay)

7420

6. A student can be enrolled in a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [ ]:
# Define class variables
class_capacity = 20  # Maximum class capacity
current_schedule = ["Math", "History", "Science"]  # Student's current schedule
desired_class = "Art"  # The class the student wants to enroll in
class_schedule = ["Math", "Art", "English"]  # Schedule for the desired class

# Check if the class is not full and the schedule does not conflict
if len(current_schedule) < class_capacity and not any(course in current_schedule for course in class_schedule):
    print("You can enroll in the", desired_class, "class.")
else:
    print("Sorry, you cannot enroll in the", desired_class, "class due to class capacity or schedule conflicts.")

7. A product offer can be applied only if a customer buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [84]:
is_premium_member = False
offer_valid = True
items_purchased = 1

if is_premium_member or (items_purchased >= 2 and offer_valid):
    print('Product offer can be applied')
else:
    print('Product offer cannot be applied')

Product offer cannot be applied

8. Use the following code to follow the instructions below:
username = 'codeup' password = 'notastrongpassword' Create a variable that holds a boolean value for each of the following conditions:
The password must be at least 5 characters The username must be no more than 20 characters The password must not be the same as the username

In [86]:
username = 'codeup'
password = 'notastrongpassword'

is_password_length_valid = len(password) >= 5
is_username_length_valid = len(username) <= 20
is_username_same_as_pass = username != password

print("Is the password 5 characters or longer?", is_password_length_valid)
print("Is username 20 characters or less?", is_username_length_valid)
print("Is username the same as the password?", is_username_same_as_pass)

Is the password 5 characters or longer? True
Is username 20 characters or less? True
Is username the same as the password? True

Bonus Neither the username or password can start nor end with whitespace

In [88]:
username = 'codeup'
password = 'notastrongpassword'

is_password_length_valid = len(password) >= 5
is_username_length_valid = len(username) <= 20
is_username_same_as_pass = username != password
white_space_in_username = username.strip()
white_space_in_password = password.strip()

print("Is the password 5 characters or longer?", is_password_length_valid)
print("Is username 20 characters or less?", is_username_length_valid)
print("Is username the same as the password?", is_username_same_as_pass)
print("Is there white space in the username?", white_space_in_username)
print("Is there white space in the password?", white_space_in_password)

Is the password 5 characters or longer? True
Is username 20 characters or less? True
Is username the same as the password? True
Is there white space in the username? codeup
Is there white space in the password? notastrongpassword