In [46]:
from functions_exercises import get_letter_grade as glg

In [47]:
type(glg(87))

str

In [48]:
glg(87)

'B'

In [49]:
from itertools import combinations

letters = "abc"
total_combinations = 0

for r in range(1, 4):  # Try combinations of length 1, 2, and 3
    combinations_list = list(combinations(letters, r))
    total_combinations += len(combinations_list)

print("Total combinations:", total_combinations)

Total combinations: 7

In [53]:
from itertools import product
list(product('abc',[1,2,3,]))

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3)]

In [51]:
from itertools import combinations

letters = "abcd"
r = 2  # Length of combinations
combinations_list = list(combinations(letters, r))
total_combinations = len(combinations_list)

print("Total combinations of 2 letters from 'abcd':", total_combinations)

Total combinations of 2 letters from 'abcd': 6

In [14]:
from itertools import combinations

letters = 'abcd'
r = 2 #length of combinations
combinations_list = list(combinations(letters, r))
total_combinations = len(combinations_list)

print('Total combinations of 2 letters from \'abcd\':', total_combinations)

Total combinations of 2 letters from 'abcd': 6

In [27]:
from itertools import permutations

letters = 'abcd'
r = 2
permutations_list = list(permutations(letters, r))
total_perms = len(permutations_list)

print('Total permutations of 2 letters from \'abcd\':', total_perms)

Total permutations of 2 letters from 'abcd': 12

Your code should produce a list of dictionaries. Using this data, write some code that calculates and outputs the following information:

Total number of users
Number of active users
Number of inactive users
Grand total of balances for all users
Average balance per user
User with the lowest balance
User with the highest balance
Most common favorite fruit
Least most common favorite fruit
Total number of unread messages for all users

In [83]:
import json

with open('profiles.json', 'r') as file:
     profiles = json.load(file)

In [84]:
profiles[0]

{'_id': '54e23c3e46ab53a440b580e8',
 'index': 0,
 'guid': '9962b468-ef3e-4993-b677-617469bc3008',
 'isActive': False,
 'balance': '$2,097.02',
 'picture': 'http://placehold.it/32x32',
 'age': 39,
 'eyeColor': 'blue',
 'name': 'Hebert Estes',
 'gender': 'male',
 'company': 'ANDRYX',
 'email': 'hebertestes@andryx.com',
 'phone': '+1 (866) 456-2268',
 'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
 'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
 'registered': '2014-11-10T01:44:03 +06:00',
 'latitude': -80.157843,
 'longitude': 161.93016,
 'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
 'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
  {'id': 1, 'name': 'Dennis Wilson'},
  {'id': 2, 'name': 'Lupe Howe'}],
 'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
 'favoriteFruit': 'strawberry'}

In [85]:
# how to access a list
my_list = [1,2,3,4]

# subsetting only 1st to 3rd values non-inclusive
my_list[0:2]

[1, 2]

In [86]:
# how to access a dictionary
my_dict = {'a':0, 'b':23, 'c':4}

# indexing by the key 
my_dict['b']

23

In [87]:
# access a list of dictionaries
lst_dict = [{'name':'Mark', 'age':29}, {'name':'Eliza Thronberry', 'age':34}]

# only returns first dictionary
# to access mulitple need to use
# a control structure to iterate 
# over the dictionaires
lst_dict[0]

{'name': 'Mark', 'age': 29}

In [88]:
# now i can get separate dicitonaries and access their elements individiually
for dictionary in lst_dict:
    print(dictionary['name'], dictionary['age'])

Mark 29
Eliza Thronberry 34

In [89]:
# 19 total users
len(profiles)

19

In [90]:
count = 0 

for profile in profiles:
    if profile['isActive'] == True:
        count += 1
count
# 9 active users

9

In [91]:
count = 0 

for profile in profiles:
    if profile['isActive'] == False:
        count += 1
count
# 10 active users

10

In [92]:
profiles[0]['balance']

'$2,097.02'

In [93]:
# using string methods 

# intitial empty value to add what I want to keep 
grand_total = 0

# looping over individual profiles
for profile in profiles:
    
    # stripping out non alpha characters
    clean_balance = profile['balance'].replace('$', '').replace(',', '')
    clean_balance = float(clean_balance) # casting to float to keep decimal precision
    
    grand_total += clean_balance

grand_total

52667.02

In [101]:
round(grand_total / len(profiles),2)

0.0

In [102]:
# create a list of all balances
balance_list = [float(x['balance'].strip('$').replace(',','')) for x in profiles]
balance_list

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [103]:
balance_list = []

for profile in profiles:
    clean_balance = profile['balance'].strip('$').replace(',','') #striping out string characters
    clean_balance = float(clean_balance) #converting to float
    balance_list.append(clean_balance)
balance_list

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [104]:
min_balance = min(balance_list)
min_balance

1214.1

In [105]:
# using string methods to clean

# create for loop to iterate over profiles
for profile in profiles:
    clean_balance = float(profile['balance'].strip('$').replace(',',''))
    
    # using condition to test if balance == minimum balance
    if clean_balance == min_balance:
        print(profile['name'], clean_balance)

Avery Flynn 1214.1

In [107]:
max_balance = max(balance_list)

# string methods to clean
for profile in profiles:
    clean_balance = profile['balance'].strip('$').replace(',','') #striping out string characters
    clean_balance = float(clean_balance) #converting to float  
    if clean_balance == max(balance_list): #changing from min to max balance list
        print(profile['name'], clean_balance)

Fay Hammond 3919.64

In [108]:
profiles[0]['favoriteFruit']

'strawberry'

In [109]:
# empty list to add to 
fruit_ls = []

for profile in profiles:
    fruit_ls.append(profile['favoriteFruit'])
fruit_ls

['strawberry',
 'apple',
 'apple',
 'banana',
 'apple',
 'apple',
 'banana',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'strawberry',
 'apple',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'apple',
 'strawberry']

In [110]:
# turn list into set to only return unique values
set(fruit_ls)

{'apple', 'banana', 'strawberry'}

In [111]:
# more manual way to calculate most common fav fruit
fruit_ls.count('apple')

6

In [112]:
fruit_ls.count('banana')

4

In [113]:
fruit_ls.count('strawberry')

9

In [114]:
# coming soon way using pandas library
import pandas as pd

# converting to series
fruit_ls = pd.Series(fruit_ls)

fruit_ls.value_counts()

strawberry    9
apple         6
banana        4
Name: count, dtype: int64

In [115]:
# dictionary way
fruit_dict = {}

for profile in profiles:

    fruit = profile['favoriteFruit']

    if fruit in fruit_dict:
        fruit_dict[fruit] += 1  # Increment the count if the fruit is already in the dictionary
    else:
        fruit_dict[fruit] = 1  # Initialize the count to 1 if it's a new fruit

fruit_dict

{'strawberry': 9, 'apple': 6, 'banana': 4}

In [116]:
min(fruit_ls)

'apple'

In [117]:
fruit_ls.count

<bound method Series.count of 0     strawberry
1          apple
2          apple
3         banana
4          apple
5          apple
6         banana
7     strawberry
8     strawberry
9         banana
10    strawberry
11    strawberry
12         apple
13    strawberry
14    strawberry
15        banana
16    strawberry
17         apple
18    strawberry
dtype: object>

In [118]:
# adjust the key argument in the min function 
# key parameter is fucntion to customize the sortin parameters
min(fruit_ls, key=fruit_ls.count)

TypeError: Series.count() takes 1 positional argument but 2 were given

In [119]:
profiles[0]['greeting']

'Hello, Hebert Estes! You have 4 unread messages.'

In [120]:
profiles[0]['greeting'].split(' ')

['Hello,', 'Hebert', 'Estes!', 'You', 'have', '4', 'unread', 'messages.']

In [121]:
# empty var to add ints to
total_unread = 0

# looping over individual profiles
for profile in profiles:
    # storing split message greeting in a variable
    message = profile['greeting'].split()
    
    # loop over split message and look for digits to add to total_unread
    for word in message:
        
        # checking if word is a digit
        if word.isdigit():
            word = int(word) # casting to int for math calculations
            total_unread += word
            
total_unread

210